/* ===== BANNER ===== */
.banner {
position: relative;
background-image: url("../img/banner/world_cup.jpg");
background-size: cover;
background-position: center;
height: 50vh;
min-height: 250px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}


.banner-title {
color: #ffffff;
font-size: 2.5rem;
font-weight: 700;
max-width: 800px;
margin-bottom: 15px;
line-height: 1.2;
text-align: center;
}

.banner-subtitle {
color: #ffffff;
font-size: 1.1rem;
margin-bottom: 25px;
text-align: center;
}

.banner-btn {
background-color: #6c5ce7;
color: #ffffff;
padding: 8px 10px;
border-radius: 20px;
text-decoration: none;
font-weight: 200;
}

.banner-btn:hover {
background-color: #5a4bd1;
transform: scale(1.05);
}

/* Flechas laterales */
.banner-arrow {
position: absolute;
top: 50%;
transform: translateY(-30%);
background: rgba(255, 255, 255, 0.2);
border: none;
color: #fff;
font-size: 1rem;
width: 35px;
height: 35px;
border-radius: 79%;
cursor: pointer;  
z-index: 1;
}

.banner-arrow-left { left: 10px; }
.banner-arrow-right { right: 10px; }

.banner-arrow:hover {
background: rgba(29, 28, 28, 0.4);
}

/* Puntos indicadores */
.banner-dots {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: flex;
gap: 8px;
}

.dot {
width: 8px;
height: 8px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.5);
}

.dot.active {
background-color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
.banner-title { font-size: 1.6rem; }
.banner-subtitle { font-size: 0.95rem; }
.banner-arrow { width: 35px; height: 35px; font-size: 1.5rem; }
}
