/* ===== HEADER ===== */
.header {
    background: linear-gradient(90deg, #002B7F, #D71920);
    padding: 12px 40px;
    border-bottom: 4px solid #F4C542;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
}

.header-content {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.header-title h1 {
    margin: 0;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-title p {
    margin: 2px 0 0;
    color: #F4C542;
    font-size: 0.95rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #ddd; 
}

.menu-principal ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 15px 0;
    gap: 40px
}


.menu-principal a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding-bottom: 8px;
}

.menu-principal a.activo {
    border-bottom: 2px solid #333;
}

.submenu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 10px 0;
    gap: 30px;
}

.submenu a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
}


.submenu a.activo{
    background-color: #444;
    color: #fff;
}
/* ===== BANNER ===== */
.banner {
    position: relative;
    background-size: cover;
    background-position: center top;
    height: 75vh;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}

.banner-overlay {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.banner-title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-subtitle {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.banner-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #d71920;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.banner-btn:hover {
    background: #002b7f;
}

.banner-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 2;
}

.banner-arrow-left {
    left: 20px;
}

.banner-arrow-right {
    right: 20px;
}

.banner-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
}

.dot.active {
    background: #f4c542;
}

.banner-1 {
    background-position: center 10%;
}

.banner-2 {
    background-position: center 80%;
}

.banner-3 {
    background-position: center 20%;
}
